body {
    background-color: #2e6cf1;
    margin: 0;
    text-align: center;  
     
}

.top-container {
    background-color: #98b8e7;
    position: relative;
    padding-top: 100px;
    font-family: 'Sacramento', cursive;
}

.pro {
    text-decoration: underline;
}

.middle-container {
    background-color: #74a6f0;
    

}

.bottom-container {
    background-color: #6091da;
    
}

h1 {
    margin: 0 auto;
    font-size: 60px;
}

h2 {
    font-family: 'Montserrat', sans-serif;

}

h3{
    font-family: 'Merriweather', serif;    
}

p {
    font-family: 'Merriweather', serif;  
}

.photoid {
    width: 152px;
    height: 152px;
    border-radius: 50%;
}

.bottom-cloud {
    position: absolute;
    height: 50px;
    left: 250px
}

.top-cloud{
    position: absolute;
    top: 50px;
    right: 250px;
    
}
